<!DOCTYPE html>
<html>
  <head>
    <title>Like Post App</title>
  </head>
  <body>
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    <p id="message"></p>
    {% for post in posts %}
    <h3>{{ forloop.counter }}) {{ post.heading }}</h3>
    <p>{{ post.text }} </p>
    {% include 'like_section.html' %}


    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
       $('.like-form').submit(function(e) {
        e.preventDefault();
        const post_id = $(this).attr('id');
        const action = $(".likebtn"+post_id).val();
        console.log(action)
        console.log(post_id)

         $.ajax({
          type:"POST",
          url: "/like_post/",
          data: {
                 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                 'post_id': post_id,
                 'action': action,
          },
          success: function( data ) {
          $('.like-form'+post_id).html(data['form']);
          $( '#message' ).text(data['message']);
          }
        })
      });
    </script>
  </body>
</html>